<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="pivotsubscriptions.ZPM">
    <Module>
      <Name>pivotsubscriptions</Name>
      <Description>Sample portlets for implementing charts from third party libraries in IRIS BI</Description>
      <Version>1.8.1</Version>
      <Packaging>module</Packaging>
      <Resource Name="PivotSubscriptions.PKG"/>
      <FileCopy Name="Assets/PivotSubscriptions_Cover.png" Target="${cspdir}broker/covers/PivotSubscriptions_Cover.png"/>
      <Invokes>
       <Invoke Class="PivotSubscriptions.Installer" Method="RunInstaller">
        </Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>
